.topBar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: var(--top-bar-height);

    display: flex;

    border-bottom: 1px solid var(--c-gray-l);
    background-color: rgba(from var(--c-gray-d) r g b / 70%);
}
