.topBar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: var(--top-bar-height);

    display: flex;
    align-items: stretch;
    gap: 4px;
    padding: 0 8px;

    border-bottom: 1px solid var(--c-gray-l);
    background-color: rgba(from var(--c-gray-d) r g b / 70%);

    &.paused {
        box-shadow: 0 0 64px var(--c-red);
    }
}

.badge {
    min-width: 80px;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 0 8px 2px;
    border-top: 2px solid rgba(from var(--tbb-color, var(--c-white)) r g b / 50%);
    background-color: rgba(from var(--tbb-color, var(--c-white)) r g b / 5%);

    &:hover {
        background-color: rgba(from var(--tbb-color, var(--c-white)) r g b / 15%);
    }

    & .icon {
        margin-right: auto;
        color: var(--tbb-color, var(--c-white));
    }

    &.padRight {
        margin-right: 8px;
    }
}

.spacer {
    flex: 1 1 auto;
}

.pausedBanner {
    position: absolute;
    top: calc(100% + 8px);
    left: calc(50% - 100px - 200px);
    width: 200px;
    height: 36px;

    background-color: var(--c-gray-d);
    border: 3px double var(--c-gray-l);
    color: var(--c-red);
    text-align: center;
    align-content: center;
}
