.button {
    --button-bg: var(--c-gray-d);
    --button-text: var(--c-primary);

    border: none transparent;
    background: var(--button-bg);
    border-radius: 0;
    outline: none;
    cursor: pointer;
    position: relative;

    padding: 6px 12px;

    & .label {
        color: var(--button-text);

        font-weight: 600;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        font-size: 1em;
        line-height: 0.72em;

        display: inline-block;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    & .hotkey {
        position: absolute;
        top: -8px;
        right: 2px;
        font-size: 12px;
        line-height: 16px;
        padding: 0 2px;
        border: 1px solid var(--button-text);
        background-color: var(--button-bg);
        color: var(--button-text);
        min-width: 18px;
        text-align: center;
        opacity: 1;
    }
    &:hover .hotkey {
        opacity: 0.2;
    }

    &.disabled {
        cursor: not-allowed;
    }
    &:active {
        transform: scale(0.95);
    }
    &:focus {
        outline: 1px dashed var(--c-primary);
    }

    &.btnSecondary {
        --button-bg: var(--c-gray-d);
        --button-text: var(--c-primary);

        &:hover {
            --button-bg: var(--c-white);
            --button-text: var(--c-primary);
        }
    }

    &.btnPrimary {
        --button-bg: var(--c-primary);
        --button-text: var(--c-gray-d);

        &:hover {
            --button-bg: var(--c-white);
            --button-text: var(--c-primary);
        }

        &:focus {
            outline-color: var(--c-white);
        }
    }

    &.btnText {
        --button-bg: transparent;
        --button-text: var(--c-primary);

        &:hover {
            --button-text: var(--c-white);
        }
    }
}
