.button {
    --button-bg: var(--c-gray-d);
    --button-text: var(--c-primary);

    border: none transparent;
    background-color: var(--button-bg);
    border-radius: 0;
    outline: none;
    cursor: pointer;
    position: relative;

    font-family: inherit;
    font-size: 0.95em;
    line-height: 0.9em;

    padding: 6px 12px;

    display: block;

    &.inline {
        display: inline-block;
    }

    & .label {
        color: var(--button-text);

        font-weight: 600;
        letter-spacing: 0.05em;
        text-transform: uppercase;

        display: block;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &:hover {
        background-color: var(--button-bg-hover, var(--button-bg));

        .label {
            color: var(--button-text-hover, var(--button-text));
        }
    }

    .hotkey {
        --hotkey-text: var(--button-text);
        --hotkey-bg: var(--button-bg);
    }

    &:hover .hotkey {
        opacity: 0.2;
    }

    &:active {
        transform: scale(0.95);
    }
    &:focus-visible, &.vibrantFocus:focus {
        outline: 3px double var(--c-primary);
        animation: focusedButton infinite alternate 1s ease-in-out;

        .label {
            animation: focusedButtonLabel infinite alternate 1s ease-in-out;
        }

        .hotkey {
            opacity: 0;
        }
    }

    &.btnSecondary {
        --button-bg: var(--c-gray-d);
        --button-text: var(--c-primary);
        --button-bg-hover: var(--c-white);
        --button-text-hover: var(--c-primary);
    }

    &.btnPrimary {
        --button-bg: var(--c-primary);
        --button-text: var(--c-gray-d);
        --button-bg-hover: var(--c-white);
        --button-text-hover: var(--c-primary);

        &:focus {
            outline-color: var(--c-white);
        }
    }

    &.btnText {
        --button-bg: transparent;
        --button-text: var(--c-primary);

        &:hover {
            --button-text-hover: var(--c-white);
        }
    }

    &.disabled {
        --button-bg: var(--c-gray-d);
        --button-text: var(--c-gray-l);
        --button-bg-hover: var(--c-gray-d);
        --button-text-hover: var(--c-red);
        cursor: not-allowed;

        &:active {
            transform: scale(0.98);
        }
    }
}

@keyframes focusedButton {
    0% {
        background-color: var(--button-bg);
    }
    100% {
        background-color: var(--button-bg-hover, var(--button-bg));
    }
}

@keyframes focusedButtonLabel {
    0% {
        color: var(--button-text);
    }
    100% {
        color: var(--button-text-hover, var(--button-text));
    }
}
