.list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    &.hasBorder {
        border: 3px double var(--c-gray-l);
    }

    &.insetH {
        margin-left: calc(-1 * var(--container-padding-l, 0));
        margin-right: calc(-1 * var(--container-padding-r, 0));
    }
}

.item {
    padding: 0;
    margin: 0;
    border-bottom: 1px solid var(--c-gray-d);
    display: flex;
    gap: 8px;

    &:first-child {
        border-top: 1px solid var(--c-gray-d);
    }

    > :first-child {
        padding-left: 8px;

        .inset & {
            padding-left: calc(8px + var(--container-padding-l, 0));
        }
    }
    > :last-child {
        padding-right: 8px;

        .inset & {
            padding-right: calc(8px + var(--container-padding-r, 0));
        }
    }

    &:hover {
        background-color: var(--c-gray-m);
    }

    &.selected {
        background-color: var(--c-gray-m);
        color: var(--c-primary);
    }

    &.clickable {
        cursor: pointer;
    }
}

.hasBorder .item:last-child {
    border-bottom: 0 none;
}
.hasBorder .item:first-child {
    border-top: 0 none;
}

.main {
    flex: 1 1 auto;
    padding: 4px 0;
    align-content: center;

    .item.clickable:hover & {
        color: var(--c-white);
    }
}

.right {
    flex: 0 0 auto;
    padding: 4px 0;
    min-width: 32px;
    text-align: right;
}

.check {
    padding: 4px 0;
}

.checkboxInput {
    display: none;
}

.empty {
    padding: 8px 16px;

    .inset & {
        padding-left: calc(16px + var(--container-padding-l, 0));
        padding-right: calc(16px + var(--container-padding-r, 0));
    }

    overflow: hidden;
}
