.header {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 8px;

    & > :first-child {
        margin-right: auto;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    & > button {
        min-width: 100px;
    }
}

.toolbar {
    display: grid;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;

    margin-left: calc(-1 * var(--container-padding-l, 0));
    margin-right: calc(-1 * var(--container-padding-r, 0));
    margin-bottom: calc(-1 * var(--container-padding-b, 0));

    background-color: var(--c-gray-d);
}

.editorDebugger {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: calc(100% - 77px);

    &.hasDebugger {
        grid-template-rows: 1fr 1fr;
    }
}

.deckItemProperties {
    display: flex;
    gap: 8px;
    align-items: center;
    padding-top: 4px;
}

.footer {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    gap: 8px;
}
