.inventory {
    position: relative;
}
.fullHeight {
    height: 100%;
}

.header {
    margin-bottom: 4px;
    background-color: var(--c-gray-d);
    margin-left: calc(-1 * var(--container-padding-l, 0));
    margin-right: calc(-1 * var(--container-padding-r, 0));

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.status {
    padding: 4px 8px;
    font-size: 0.8em;
    line-height: 0.9em;
    color: var(--c-gray-l);
}

.contents {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    padding: 4px 0;

    &.concise {
        flex-flow: row wrap;
        padding: 0;
    }
}

.empty {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    align-content: center;
    text-align: center;
    flex: 1 1 auto;

    color: var(--c-gray-l);
}

.item {
    min-width: 0;
    width: 210px;
    display: flex;

    background-color: var(--c-black);
    border-radius: 2px;
    border: 1px solid var(--inventory-item-color, var(--c-gray-l));

    &.notEnough {
        .amount {
            --inventory-item-color: var(--c-red);
        }
    }

    .concise & {
        width: unset;
        font-size: 0.9em;
        line-height: 1em;
    }

    .amount {
        background-color: var(--inventory-item-color, var(--c-gray-l));
        color: var(--c-black);
        font-weight: 300;
        padding: 0 4px;
        width: 48px;
        text-align: right;
        align-content: center;

        .concise & {
            width: unset;
            padding: 2px 4px;
        }
    }

    .icon {
        color: var(--inventory-item-color, var(--c-gray-l));

        width: 16px;
        text-align: center;

        .concise & {
            background-color: var(--inventory-item-color, var(--c-gray-l));
            color: var(--c-black);
            padding: 2px 0;
        }
    }

    .label {
        padding: 0 2px;
        text-align: left;
        width: calc(100% - 24px - 16px);

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        font-weight: 500;
        color: var(--inventory-item-color, var(--c-gray-l));
        background-color: rgba(from var(--inventory-item-color, var(--c-gray-l)) r g b / 10%);

        .concise & {
            display: none;
        }
    }
}

.dropZoneWrapper {
    position: absolute;
    inset: 0;
    background-color: rgba(from var(--c-gray-d) r g b / 75%);
}

.dropZoneDynamic {
    height: 30%;
    border: 1px solid var(--c-primary);
    text-align: center;
    align-content: center;
    color: var(--c-primary);
    background-color: rgba(from var(--c-primary) r g b / 25%);

    &.dropover {
        background: linear-gradient(
            to right,
            var(--c-primary) 0%,
            var(--c-primary) var(--drop-zone-fill-width, 100%),
            rgba(from var(--c-primary) r g b / 25%) var(--drop-zone-fill-width, 100%),
            rgba(from var(--c-primary) r g b / 25%) 100%
        );
        color: var(--c-white);
        border-color: var(--c-white);
    }
}

.dropZonesStatic {
    height: 70%;
    display: flex;
    flex-flow: row wrap;
    justify-content: stretch;
    align-items: stretch;
    gap: 2px;
    overflow: hidden;
}

.dropZone {
    flex: 1 1 20%;
    min-width: calc(33% - 2px);
    min-height: calc(50% - 2px);

    border: 1px solid var(--c-primary);
    text-align: center;
    align-content: center;
    color: var(--c-primary);
    font-weight: 500;

    &.dropover {
        background-color: var(--c-primary);
        color: var(--c-white);
        border-color: var(--c-white);
    }
}
