.inventory {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 48px;
    grid-auto-flow: row;
    gap: 8px;
    padding: 8px 33px;
}

.empty {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    align-content: center;
    text-align: center;
    grid-column: 1 / 7;

    color: var(--c-gray-l);
}
