.status {
    padding: 4px 8px;
    margin-bottom: 4px;
    font-size: 0.8em;
    line-height: 0.9em;
    background-color: var(--c-gray-d);
    color: var(--c-gray-l);
    margin-left: calc(-1 * var(--container-padding-l, 0));
    margin-right: calc(-1 * var(--container-padding-r, 0));
}

.contents {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    padding: 4px 0;

    &.concise {
        flex-flow: row wrap;
    }
}

.empty {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    align-content: center;
    text-align: center;
    flex: 1 1 auto;

    color: var(--c-gray-l);
}

.item {
    min-width: 0;
    width: 210px;
    display: flex;

    background-color: var(--c-black);
    border-radius: 2px;
    border: 1px solid var(--inventory-item-color, var(--c-gray-l));

    &.notEnough {
        .amount {
            --inventory-item-color: var(--c-red);
        }
    }

    .concise & {
        width: unset;
        font-size: 0.9em;
        line-height: 1em;
    }

    .amount {
        background-color: var(--inventory-item-color, var(--c-gray-l));
        color: var(--c-black);
        font-weight: 300;
        padding: 0 4px;
        width: 48px;
        text-align: right;
        align-content: center;

        .concise & {
            width: unset;
            padding: 2px 4px;
        }
    }

    .icon {
        color: var(--inventory-item-color, var(--c-gray-l));

        width: 16px;
        text-align: center;

        .concise & {
            background-color: var(--inventory-item-color, var(--c-gray-l));
            color: var(--c-black);
            padding: 2px 0;
        }
    }

    .label {
        padding: 0 2px;
        text-align: left;
        width: calc(100% - 24px - 16px);

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        font-weight: 500;
        color: var(--inventory-item-color, var(--c-gray-l));
        background-color: rgba(from var(--inventory-item-color, var(--c-gray-l)) r g b / 10%);

        .concise & {
            display: none;
        }
    }
}
