.select {
    display: flex;
    flex-flow: column;
    position: relative;

    .icon {
        position: absolute;
        right: 8px;
        top: 0;
        bottom: 0;
        align-content: center;

        opacity: 1;
        transition: opacity ease-in-out 0.2s;
    }

    &:focus-within .icon {
        opacity: 0.5;
    }

    & > :first-child {
        padding-right: 24px;
    }
}

.optionsWrapper {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 100%;
    max-height: 50vh;
    display: flex;
    flex-flow: column;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.1s ease-in-out;
    background-color: var(--c-gray-d);
    color: var(--c-gray-l);

    &.open {
        opacity: 1;
        pointer-events: all;
    }

    &.directionUp {
        top: unset;
        bottom: 100%;
        flex-flow: column-reverse;
    }
}
