.select {
    display: flex;
    flex-flow: column;
    position: relative;

    .icon {
        position: absolute;
        right: 8px;
        top: 0;
        bottom: 0;
        align-content: center;

        opacity: 1;
        transition: opacity ease-in-out 0.2s;
    }

    .sideswitch {
        position: absolute;
        top: 0;
        bottom: 0;
        padding: 0 8px;
        text-align: center;
        align-content: center;
        cursor: pointer;
        user-select: none;

        &:first-child {
            left: 0;
        }
        &:last-child {
            right: 0;
        }

        &:hover {
            color: var(--c-primary);
            background-color: var(--c-gray-l);
        }
    }

    &:focus-within .icon {
        opacity: 0.5;
    }

    &.padLeft > :first-child {
        padding-left: 28px;
    }
    &.padRight > :first-child {
        padding-right: 28px;
    }
}

.optionsWrapper {
    position: fixed;
    z-index: 1;
    left: var(--select-anchor-left, 0px);
    top: var(--select-anchor-top, 0px);

    min-width: var(--select-width, 50px);
    width: fit-content;
    max-height: 50vh;
    display: flex;
    flex-flow: column;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.1s ease-in-out;
    background-color: var(--c-black);
    color: var(--c-gray-l);

    &.open {
        opacity: 1;
        pointer-events: all;
    }

    &.directionUp {
        top: unset;
        bottom: var(--select-anchor-bottom, 0px);
        flex-flow: column-reverse;
    }
}
