.input {
    flex: 1 1 auto;
    display: block;
    width: 100%;

    border: 0;
    padding: 4px 8px;
    background-color: transparent;

    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;

    outline: none;
    caret-shape: block;

    &:hover {
        background-color: rgba(from var(--c-white) r g b / 10%);
    }

    &:focus {
        outline: 3px double var(--c-white);
    }

    &::placeholder {
        color: var(--c-gray-m);
    }

    &.dark {
        color: var(--c-primary);
    }
}
