.editor {
    margin-top: calc(-1 * var(--container-padding-t, 0));
    margin-left: calc(-1 * var(--container-padding-l, 0));
    margin-right: calc(-1 * var(--container-padding-r, 0));
    height: 100%;
    display: flex;
    flex-flow: column;
}

.noProgramMessage {
    text-align: center;
    padding: 32px 16px;
}

.tabs {
    display: flex;
    border-bottom: 1px solid var(--c-primary);
    background-color: var(--c-black);
    padding: 4px 16px 0;

    position: sticky;
    top: 0;
    z-index: 1;
    flex: 0 0 auto;
}

.tabSection {
    display: none;
    padding-top: 4px;

    &.visible {
        display: block;
        flex: 1 1 auto;
        min-height: 0;
    }
}

.unitListActions {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 8px;
}
