.editor {
    margin-top: calc(-1 * var(--container-padding-t, 0));
    margin-left: calc(-1 * var(--container-padding-l, 0));
    margin-right: calc(-1 * var(--container-padding-r, 0));
}

.noProgramMessage {
    text-align: center;
    padding: 32px 16px;
}
