.editor {
    margin-top: calc(-1 * var(--container-padding-t, 0));
    margin-left: calc(-1 * var(--container-padding-l, 0));
    margin-right: calc(-1 * var(--container-padding-r, 0));

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 38px 150px 1fr;
    height: 100%;
}

.editorTitleBar {
    display: flex;
    align-items: center;

    border-bottom: 2px solid var(--c-gray-m);
    background-color: var(--c-black);

    position: sticky;
    top: calc(-1 * var(--container-padding-t, 0));
}

.editorTitle {
    color: var(--c-primary);
    font-size: 24px;
    line-height: 30px;
    padding-left: 8px;
}

.editorButtons {
    margin-left: auto;
    display: flex;
    height: 100%;
}

.editorButton {
    border: none transparent;
    text-align: center;
    display: block;
    align-content: center;
    height: 100%;
    padding: 0 16px;

    cursor: pointer;
    background-color: var(--c-primary);
    color: var(--c-black);

    font-size: 20px;
    line-height: 24px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}
.editorButton:hover {
    /* background-color: var(--c-primary); */
    color: var(--c-white);
}
.editorButton + .editorButton{
    margin-left: 2px;
}

.configurator {
    padding: 8px 16px;
    display: flex;
    flex-flow: column wrap;
}
