.heading {
    margin: 0;
    padding: 0;

    color: var(--c-primary);
    font-weight: 500;

    &.withMargin:not(:first-child) {
        margin-top: calc(2 * var(--heading-margin-size, 6px));
    }
    &.withMargin:not(:last-child) {
        margin-bottom: var(--heading-margin-size, 6px);
    }
}

.sizeLg {
    font-size: 40px;
    line-height: 48px;

    &.withMargin {
        --heading-margin-size: 8px;
    }
}

.sizeMd {
    font-size: 30px;
    line-height: 36px;

    &.withMargin {
        --heading-margin-size: 6px;
    }
}

.sizeSm {
    font-size: 20px;
    line-height: 24px;

    &.withMargin {
        --heading-margin-size: 4px;
    }
}

.header {
    display: flex;
    align-items: center;

    &.padded {
        padding: 0 4px;
    }
}

.headerActions {
    margin-left: auto;
    display: flex;
    gap: 8px;
}
