.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 3px double var(--c-gray-l);
}

.listItem {
    padding: 0;
    margin: 0;
    border-bottom: 1px solid var(--c-gray-l);
    display: flex;
    gap: 8px;
    cursor: pointer;
}
.listItem:last-child {
    border-bottom: 0 none;
}
.listItem:hover {
    background-color: var(--c-gray-d);
}

.listItem > :first-child {
    padding-left: 8px;
}
.listItem > :last-child {
    padding-right: 8px;
}

.listMain {
    flex: 1 1 auto;
    padding: 4px 0;
}
.listItem:hover .listMain {
    color: var(--c-primary);
}

.listRight {
    flex: 0 0 auto;
    padding: 4px 0;
    min-width: 32px;
    text-align: right;
}

.versionNumber {
    color: var(--c-gray-l);
    margin-left: 4px;
}
