.dd {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.ddItem {
    margin: 0;
    padding: 0;
    display: flex;

    margin-left: calc(-1 * var(--container-padding-l, 0));
    margin-right: calc(-1 * var(--container-padding-r, 0));
}
.ddItem:nth-child(2n) {
    background-color: rgba(from var(--c-white) r g b / 5%);
}
.ddKey, .ddValue {
    padding: 6px 8px;
}
.ddKey {
    flex: 0 0 120px;

    padding-left: calc(var(--container-padding-l, 0));

    background-color: rgba(from var(--c-white) r g b / 15%);
    font-weight: 400;
}
.ddValue {
    flex: 1 1 auto;

    padding-right: calc(var(--container-padding-r, 0));

    background-color: rgba(from var(--c-white) r g b / 5%);
}
