.configurator {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 29px;

    border-bottom: 1px solid var(--c-gray-m);
}

.toggles {
    padding: 8px 0;
    min-height: 0;

    overflow: auto;
}

.field {
    display: flex;

    &:nth-child(2n) {
        background-color: rgba(from var(--c-white) r g b / 10%);
    }

    .fieldName {
        flex: 0 0 auto;
        width: 120px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        padding: 4px 8px 4px 16px;
    }

    .fieldInput {
        flex: 1 1 auto;
    }

    .fieldCosts {
        flex: 0 0 auto;
        width: 250px;
        display: flex;

        padding-left: 8px;
        padding-right: 16px;
        gap: 8px;
    }
}

.costs {
    padding: 0 16px;
    display: flex;
    align-content: center;
    gap: 8px;
    min-height: 0;
    background-color: var(--c-gray-d);
}

.costLabel {
    padding: 4px 0;
    color: var(--c-gray-l);
}

.timeCost {
    padding: 4px 0;

    & > * {
        display: block;
    }
}
