.configurator {
    padding-bottom: 32px;
    border-bottom: 1px solid var(--c-gray-m);
    overflow: auto;
}

.field {
    display: flex;

    &:nth-child(2n) {
        background-color: rgba(from var(--c-white) r g b / 10%);
    }

    .fieldName {
        flex: 0 0 auto;
        width: 120px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        padding: 4px 8px 4px 16px;
    }

    .fieldInput {
        flex: 1 1 auto;
    }

    .fieldBadges {
        flex: 1 1 auto;
        display: flex;
        flex-flow: row wrap;
        gap: 8px;
        align-items: center;
    }

    .fieldCosts {
        flex: 0 0 auto;
        width: 250px;
        display: flex;

        padding-left: 8px;
        padding-right: 16px;
        gap: 8px;
    }
}

.costLabel {
    padding: 4px 0;
    color: var(--c-gray-l);
}

.timeCost {
    padding: 4px 0;

    & > * {
        display: block;
    }
}

.optionName {
    font-weight: 600;
}
.optionDescription {
    color: var(--c-gray-l);
    font-style: italic;
    max-width: 300px;
    font-size: 0.9em;
    margin-top: 4px;
}

.badgeTier1 {
    --badge-color: #d8b466;
}
.badgeTier2 {
    --badge-color: #8e80eb;
}
