.nonTargetUnit {
    opacity: 0.3;
}

.unitActions {
    display: flex;
    align-items: center;
    height: 100%;

    & > * {
        display: block;
    }
}

.unitIcon {
    margin-right: 8px;
    color: var(--c-red);

    &.ownUnit {
        color: var(--c-primary);
    }

    &.neutralUnit {
        color: var(--c-gray-l);
    }
}
