.actionsFooter {
    position: sticky;
    bottom: calc(-1 * var(--container-padding-b, 0));
    margin-bottom: calc(-1 * var(--container-padding-b, 0));
    margin-left: calc(-1 * var(--container-padding-l, 0));
    margin-right: calc(-1 * var(--container-padding-r, 0));

    background-color: var(--c-gray-d);

    & > :not(:first-child) {
        margin-left: 8px;
    }
}
